<config>
   <interval>30</interval>
   <tcpTimeout>3</tcpTimeout>
   <targets class="java.util.ArrayList">
      <target protocol="SOCKET" host="127.0.0.1" port="9443" name="My host" enabled="true"/>
      <target protocol="SOCKET" host="127.0.0.1" port="8443" name="My host 2" enabled="false"/>
   </targets>
   <smtp enabled="false">
      <host>mail.comodo.od.ua</host>
      <user>apavlenko</user>
      <password></password>
      <subject>Error while monitoring</subject>
      <from>hostmonitor@comodo.com</from>
   </smtp>
   <listener>merzod@gmail.com</listener>
   <skipInterval>60</skipInterval>
</config>